@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Montserrat:wght@300;600&family=Raleway&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}


/* MAIN */

html {
	scroll-behavior: smooth;
}

body {
	line-height: 1;
	width: 100%;
	height: 100%;
	background-color:  rgb(0, 3, 22);
	background-image: url('../img/bg2.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center center;
	overflow-x: hidden;
}

ol {
	list-style-type: none;
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	max-width: 960px;
	width: 85%;
	margin: 0 auto;
	overflow-x: hidden;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

h1 {
	height: 70px;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 3.75rem;
	color: rgb(172, 217, 255);
	text-shadow: 1px 1px #111;
	text-align: center;
	letter-spacing: 3px;
	line-height: 30px;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #fff;
	line-height: 30px;
	letter-spacing: 1.75px;
	font-size: 1rem;
	text-shadow: 1px 1px #111;
}

strong {
	font-weight: bold;
}

#link {
	color: rgb(172, 217, 255);
	transition: all .3s ease-in-out;
}

#link:hover {
	text-decoration: underline;
	cursor: crosshair;
}

::-webkit-scrollbar{
	width: 10px;
	height: 10px;
	}
	::-webkit-scrollbar-thumb{
	background: rgb(172, 217, 255);
	border: 0.2px outset #fff;
	border-radius: 2px;
	transition: all .3s ease-in-out;
	}
	::-webkit-scrollbar-thumb:hover{
	background: linear-gradient(13deg, #fff 14%,#fff 64%);
	}
	::-webkit-scrollbar-track{
	background: #001e4b;
	border-radius: 0px;
	box-shadow: inset 7px 10px 12px 0px #001e4b;
	}


/*BUTTON*/

.cta {
	margin: 0 auto;
	z-index: 555;
	float: right;
	display: block;
	position: fixed;
	top: 1.11%;
	right: 2.5%;
	background-color: #001e4b;
	border: 1px solid #fff;
	text-align: center;
	text-decoration: none;
	width: 100px;
	height: 35px;
	border-radius: 2px;
	transform: scale(1);
	transition: all .3s ease-in-out;
	box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
	overflow-y: hidden;
}

.cta:hover {
	transform: scale(1.05);
	box-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);
	background-color: #001e4b;
	border: 1.5px solid	rgb(172, 217, 255);
	cursor: crosshair;
	font-weight: 300;
}

.cta a {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: .8rem;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 30px;
	margin: 0 auto;
	padding-top: 11px;
	overflow-y: hidden;
	transition: all .3s ease-in-out;
}

.cta a:hover {
	color: #001e4b;
	background-color: rgb(172, 217, 255);
	font-weight: 600;
	cursor: crosshair;
	letter-spacing: 2px;
}


/* NAV */

.logo {
	position: fixed;
	float: left;
	margin: 1%;
	font-weight: bold;
	font-size: 24px;
	z-index: 999;
	overflow: hidden;
	font-family: 'Raleway', sans-serif;
	transition: .3s all ease-in-out;
	text-align: center;
}

.logo a {
	color: rgb(172, 217, 255);
	transition: .3s all ease-in-out;
}

.logo a:hover {
	color: #fff;
	cursor: crosshair;
	letter-spacing: 2.5px;  
}

nav {
	position: fixed;
	width: 100%;
	z-index: 998;
	overflow: hidden;
	margin: 0 auto;
	transition: .3s all ease-in-out;
}

nav ul {
	list-style: none;
	background-color: rgba(0, 0, 0, 0.185);
	overflow: hidden;
	color: #fff;
	padding: 0;
	text-align: center;
	margin: 0 auto;
	transition: .3s all ease-in-out;
	overflow: hidden;
	backdrop-filter: blur(5px);
}

nav.black ul {
	background-color: rgb(0, 3, 22);
	transition: .3s all ease-in-out;
	transform: scale(1.015);
	overflow: hidden;
	color: #fff;
	border-bottom: 1.5px solid 	rgb(172, 217, 255);
	z-index: 999;
}

nav.black ul a {
	color: #fff;
	transition: .3s all ease-in-out;
}

nav ul li {
	display: inline-block;
	padding: 20px;
	overflow-y: hidden;
	transition: all .3s ease-in-out;
  }
  
  nav ul li a {
	text-decoration: none;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	font-size: 1.25rem;
	letter-spacing: 1.75px;
	overflow: hidden;
	transition: all .3s ease-in-out;
	position: relative;
  }
  
  nav ul li a:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #fff;
	transform: scaleX(0);
	transition: transform .3s ease-in-out;
  }
  
  nav ul li a:hover:before {
	transform: scaleX(1);
}
  
  nav ul li a:hover {
	color: rgb(172, 217, 255);
	cursor: crosshair;
	letter-spacing: 2.5px;  
  }
  


/*MENU ICON*/

.menu {
	overflow-y: hidden;
}

.menu-icon {
	width: 100%;
	background-color: rgb(0, 3, 22);
	text-align: right;
	box-sizing: border-box;
	padding: 2%;
	color: #fff;
	display: none;
	z-index: 999;
	overflow: hidden;
	transition: all .3s ease-in-out;
}

.menu-icon:hover {
	color: rgb(172, 217, 255);
	cursor: crosshair;
}


/* PARTICLES */

  #particles-js canvas {
	position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #001e4b;
    background-size: cover;
    background-position: 50% 50%;
	background-repeat: no-repeat;
	overflow: hidden;
  }
  

/* ABOUT */

a {
	color: #fff;
	text-decoration: none;
	letter-spacing: 1.5px;
	transition: all .3s ease-in-out;
}

#info a:hover {
	color: rgb(172, 217, 255);
	cursor: crosshair;
}

section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100vh;
	margin: 0 auto;
	width: 100%;
	align-content: center;
	justify-content: center;
}

.about {
	padding: 0;
	margin: auto;
	margin-top: -2px;
	width: 100%;
	overflow-y: hidden;
	background-color: rgb(0, 30, 75, 0.25);
	backdrop-filter: blur(2px);
}

.about img {
	width: 50%;
	height: auto;
	margin: 5% auto;
	border-radius: 6px;
}

.about p {
	margin: 0 auto;
	line-height: 33px;
	width: 50%;
	font-weight: 400;
	font-size: 1.55rem;
	color: #fff;
}

#main_title {
	padding: 5px 5px 5px 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: larger;
	font-weight: 600;
	background-color: rgb(172, 217, 255);
	color:#001e4b;
	border-radius: 2px;
}

#blogs {
	margin: 0 auto;
}

.titles {
	font-family: 'Raleway', sans-serif;
	color: rgb(172, 217, 255);
	font-size: 1.15rem;
	font-weight: 600;
	line-height: 28px;
	overflow: hidden;
	margin: 2.5% auto;
	width: 100%;
	text-align: center;
}
  
.spacer {
	height: 75px;
	background-color: #001e4b;
	margin-top: -2px;
  }
  .arrow {
	position: relative;
	font-size: 60px;
	padding-top: 40px;
	animation-name: hover;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	color: rgb(172, 217, 255);
	transition: all .3s ease-in-out;
  }
  .arrow:hover {
	color: white;
	transform: scale(1.25);
	cursor: crosshair;
  }

  @keyframes hover {
	0% {
	  top: 0;
	}
	100% {
	  top: 10px;
	}
  }

/* EXPERIENCE */

.bgarea {
	background-color: #001e4b;
	background-image: url('../img/bg2.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border-radius: 6px;
	box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.5);
}
.blur {
	backdrop-filter: blur(5px);
}

.container1 {
	margin: 10% auto;
	overflow: hidden;
}

.card-container {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.card {
	border-bottom: 1px solid rgb(172, 217, 255);	
	border-right: 1px solid rgb(172, 217, 255);
	border-width: 50%;
	padding: 30px;
	width: 355px;
	min-height: 475px;
	transition: all 0.3s;
	margin: 0 1%;
	overflow: hidden;
	background-color: rgba(2, 0, 107, 0);
	transition: all .3s ease-in-out;
}

.card:hover {
	position: relative;
	box-shadow: 1px 2px 1px rgb(172, 218, 255);
	backdrop-filter: blur(5px);
}


.card__img {
	width: 128px;
	margin: 0 auto;
	overflow: hidden;
}

.card__img i {
	font-size: 4rem;
	display: block;
	position: relative;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20%;
	padding-top: 0;
}

.card__heading {
	font-family: 'Raleway', sans-serif;
	font-size: 1.7rem;
	text-align: center;
	color: rgb(172, 217, 255);
	margin: 0 auto;
	overflow: hidden;
	height: 30px;
}

.card__description {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.05rem;
	font-weight: 300;
	text-align: left;
	text-justify: auto;
	line-height: 26px;
	letter-spacing: 1.85px;
	margin: 0 auto;
	padding-top: 10%;	
	overflow: hidden;
}

.card__description a {
	color: 	#fff;
}

.card__description p {
	line-height: 25px;
}

.flex-container {
	margin: 50px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
}
.exp {
	width: 80%;
	padding: 50px 0;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
 }
 
 .exp:before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 100%;
	background: rgb(172, 217, 255);
	z-index: 1
 }
 
 .timeline-block {
	width: -webkit-calc(50% + 8px);
	width: -moz-calc(50% + 8px);
	width: calc(50% + 8px);
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	justify-content: space-between;
	clear: both;
	transition: .3s all ease-in-out;
 }
 
 .timeline-block-right {
	float: right;
	overflow: hidden;
 }
 
 .timeline-block-left {
	float: left;
	direction: ltr;
	overflow: hidden;
 }
 
.timeline-block:hover {
	transform: scale(1);
}

 .marker {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid rgb(172, 217, 255);
	background: rgb(172, 217, 255);
	margin-top: 10px;
	z-index: 997;
 }
 
 .timeline-content {
	width: 95%;
	padding: 0px 15px;
	overflow: hidden;
 }
 
 .timeline-block-left .timeline-content {
   text-align:right;
 }
 
 .timeline-content h3 {
	font-size: 30px;
	overflow: hidden;
	color: rgb(172, 217, 255);
	font-family: 'Raleway', sans-serif;
	height: 61px;
 }
 
 .timeline-content span {
	font-size: 22px;
	display: block;
	color: #fff;
	margin: 0 auto;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	line-height: 30px;
	padding: 1%;
 }
 
 .timeline-content p {
	font-size: 15px;
	line-height: 1.5em;
	word-spacing: 1px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	padding: 1%;
 }


/* EDUCATION */

#edu {
	padding-top: 10%;
}


/* SOCIAL */

#soc {
	margin-top: 10%;
}

.middle {
	width: 100%;
	text-align: center;
	margin-bottom: 5%;
	overflow-y: hidden;
}

.middle p {
	width: 620px;
	margin: 0 auto;
	padding-bottom: 50px;
	color: #fff;
}

#contact {
	display: flex;
	justify-content: center;
	align-items: center;
	--color-bright: rgb(172, 217, 255);
	background: transparent;
	margin: 0 auto;
	margin-top: -100px;
	overflow: visible;
}
#contact .links:hover {
	overflow: visible;
	cursor: crosshair;
}
#contact .links {
	display: flex;
	min-width: 375px;
	min-height: 250px;
	align-items: center;
	justify-content: space-evenly;
	overflow: hidden;
	transition: all .3s ease-in-out;
}
#contact a {
	text-decoration: none;
	color: var(--color-bright);
	font-size: 2rem;
	overflow: visible;
}
#contact .links a {
	display: block;
	position: relative;
	overflow: visible;
}
#contact .links a::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid transparent;
	transition: all .3s ease-in-out;
	overflow: visible;
}
#contact .links a:hover::after {
	transform: rotate(35deg) skew(-20deg);
	--transformed-box-diagonal-length: 164%;
	width: var(--transformed-box-diagonal-length);
	left: calc( (100% - var(--transformed-box-diagonal-length)) / 2);
	overflow: visible;
	cursor: crosshair;
}
#contact .links a div {
	position: relative;
	display: block;
	width: 75px;
	height: 75px;
	transition: all .3s ease-in-out;
	overflow: visible;
}
#contact .links a:hover div {
	transform: rotate(-35deg) skew(20deg);
	overflow: visible;
}
.links a span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all .3s ease-in-out;
	transition-duration: 0.5s;
	border: 1px solid var(--color-bright);
	border-color: var(--color-bright);
	border-radius: 6px;
	overflow: visible;

}
.links a span:nth-child(5) {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-color: var(--color-bright);
	overflow: visible;
	transition: all .3s ease-in-out;
}
.links a:hover span:nth-child(5) {
	transform: translate(20px, -20px);
	overflow: visible;
	opacity: 1;
}
.links a:hover span:nth-child(4) {
	transform: translate(15px, -15px);
	overflow: visible;
	opacity: .8;
}
.links a:hover span:nth-child(3) {
	transform: translate(10px, -10px);
	overflow: visible;
	opacity: .6;
}
.links a:hover span:nth-child(2) {
	transform: translate(5px, -5px);
	overflow: visible;
	opacity: .4;
}
.links a:hover span:nth-child(1) {
	overflow: visible;
	opacity: .2;
}


/* FOOTER */

.ftrbg {
	margin: 7.5% auto;
	width: 200px;
	text-align: center;
	font-size: 1rem;
	overflow: hidden;
	transition: .3s all ease-in-out;
}

.ftrbg a {
	font-family: 'Montserrat', sans-serif;
	color: rgb(172, 217, 255);
	font-size: 14px;
}

.ftrbg img {
	width: 33%;
	transition: all .3s ease-in-out;
}

.ftrbg img:hover {
	transform: scale(1.1);
	cursor: crosshair;
}


/* ADJUST */

a:active {
	color: #fff;
	text-decoration: none;
}

#italic {
	font-style: italic;
	font-weight: 300;
	font-size: 14px;
}

#size {
	font-weight: 300;
	font-size: 15px;
}
#abt, #exp, #soc, #edu {
	padding-top: 99px;
	overflow: hidden;
}

.vcenter {
	padding: 12.5% 0;
}

.center {
	display: block;
	margin: 0 auto;
}

.responsive {
	width: 100%;
	height: auto;
}

.adj {
	padding-bottom: 1px;
}


/* RESPONSIVE QUERIES */

@media only screen and (max-width: 1100px) {
	nav {
		top: 0px;
		overflow: hidden;
	}
	.logo {
		position: fixed;
		top: 4.5%;
		left: 2.5%;
		margin: 0 auto;
	}
	.cta {
		margin-top: 2%;
		margin-right: 9%;
	}
	nav ul {
		max-height: 0px;
		background: #fff;
	}
	nav.black ul {
		background: rgba(0, 3, 22, 0.705);
	}
	.showing {
		max-height: 22em;
		background-color: rgba(0, 3, 22, 0.9);
	}
	nav ul li {
		box-sizing: border-box;
		width: 100%;
		padding: 24px 0px;
		text-align: center;
	}
	.menu-icon {
		display: block;
		font-size: 30px;
		padding-right: 25px;
		padding-top: 20px;
	}
	.menu {
		overflow: hidden;
	}
	.about img {
		width: 45%;
		margin: 0 auto;
	}
	.about p {
		padding-top: 2.5%;
		width: 50%;
		margin: 0 auto;
		line-height: 30px;
	}
	.titles {
		font-size: 1.1rem;
	}
}

@media only screen and (max-width: 1024px) {
	.cta {
		top: 1.25%;
	}
	.titles {
		width: 95%;
		font-size: .9rem;
	}
	.card-container {
		flex-wrap: wrap;
	}
	.card {
		width: 75%;
	}
	.exp {
		overflow: hidden;
	}
	.exp:before {
	   left: 8px;
	   width: 2px;
	}
	.timeline-block {
	   width: 100%;
	   margin-bottom: 30px;
	}
	.timeline-block-right {
	   float: none;
	}
 
	.timeline-block-left {
	   float: none;
	   direction: ltr;
	}
   
   .timeline-block-left .timeline-content {
	 text-align:left;
	 order: 2;
   }
   
   .timeline-block-left .marker {
	 order: 1;
   }
}

@media only screen and (max-width: 860px) {
	.logo {
		position: fixed;
		top: 3.5%;
		left: 2.5%;
		margin: 0 auto;
	}
	h1 {
		font-size: 2.75rem;
	}
	.about img {
		width: 60%;
	}
	.about p {
		width: 70%;
		margin: 7.5% auto;
		text-align: left;
		font-size: 1.35rem;
	}
	.titles {
		display: none;
	}
	.arrow {
		display: none;
	}
}

@media only screen and (max-width: 800px) {
	.main-container, .heading-container, .flex-container {
		margin: 50px auto;
	}
	.main-container {
		width: 90%;
	}
	.heading-container, .flex-container, .card-container {
		width: 100%;
	}
	.card {
		width: 80%;
		margin: 1.5%;
	}
	.cta {
		top: 1.2%;
	}
	.about img {
		width: 80%;
	}
	.about p {
		width: 80%;
		margin: 5% auto;
	}
}

@media only screen and (max-width: 768px) {
	h1 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		font-size: 3rem;
		line-height: 50px;
	}
	.about {
		line-height: 26px;
	}
	.about p {
		line-height: 26px;
		width: 75%;
		text-align: left;	
		font-size: 1.25rem;
	}
	.vcenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.container1 {
		margin-top: 15%;
		overflow: hidden;
	}
	.cta {
		right: 6.75%;
		top: 1.75%;
	}
   .middle p {
	   max-width: 90%;
   }
}

@media only screen and (max-width:640px) {
	#particle-js {
		width: 100%;
	}
	.logo {
		position: fixed;
		top: 3%;
		left: 2.5%;
		margin: 0 auto;
	}
	nav {
		float: right;
		padding: 0;
		font-size: 2rem;
	}
	nav ul li a {
		padding: 16px 0 20px 0;
	}

	.cta {
		margin-right: 60px;
		margin-top: 4px;
	}
	nav {
		top: -10px;
	}
	.titles {
		display: none;
	}
	h1 {
		margin: 0 auto;
		padding: 95px 0;
		line-height: 50px;
		font-size: 3.5rem;
	}
	#exp, #soc {
		padding-top: 150px;
	}
	object {
		width: 100%;
	}
	.ftrbg {
		margin-bottom: 15%;
	}
}
@media only screen and (max-width: 490px) {
	nav {
		width: 100%;
	}
	h1 {
		line-height: 50px;
	}
	.about p {
		padding-top: 20%;
		width: 85%;
		font-size: .95rem;
		line-height: 20px;
	}
	.about img {
		width: 85%;
	}
	.card__description a {
		font-size: .9rem;
		line-height: 20px;
	}
	
	.card__description p {
		font-size: .9rem;
		line-height: 20px;
	}
	.timeline-content h3 {
		font-size: 1.75rem;
	}
	.timeline-content span {
		font-size: 1rem;
		line-height: 22px;
	}
}

@media only screen and (max-width: 460px) {
	.timeline-content h3 {
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 410px) {
	h1 {
		font-size: 2.5rem;
	  }
	.timeline-content h3 {
		font-size: 1.35rem;
	}
	.blur p {
		font-size: .8rem;
		line-height: 20px;
	}
}

@media only screen and (max-width: 375px) {
	.about p {
		width: 90%;
	}
	.about img {
		width: 100%;
		margin-bottom: 25%;
	}
	.vcenter {
		margin: 0 auto;
		padding: 0;
	}
	h1 {
		font-size: 2.5rem;
	}
	.timeline-content h3 {
		font-size: 1.25rem;
	}
	.logo a {
		font-size: 1.25rem;
	}
}

@media only screen and (max-width: 355px) {
 .logo a {
	font-size: 1.85rem;
 }
 .cta {
	display: none;
 }
}
